{% load  static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">


</head>
<body class="d-flex flex-column admin-vh-100">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fa-solid fa-graduation-cap fa-fg"></i>Student management system</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                
              
                <a class="nav-link" href="{% url 'index' %}">
                  <i class="fa-duotone fa-list fa-lg"></i>All student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add' %}">
                  <i class="fa-solid fa-plus fa-lg"></i>Add student</a>
              </li>
              
          
            </ul>
          
          
          </div>
        </div>
    </nav>
        <div class"container-fluid">
            {% block body%}
            {% endblock%}

        </div>
      
      
      <footer class="mg-auto mg=4">
        <div class="text-centre">
            <span>
             copyright <script>
                document.write("&copy; " + new Date().getFullYear());
              </script> Junior programming academy
            </span>
           
          </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
               

</body>
</html>